# Node
node_modules/
dist/
.next/
**/.next/
*.log

# Typescript
*.tsbuildinfo

# Go
bin/
*.exe
*.test

# Python
__pycache__/
**/__pycache__/
*.py[cod]

# Env
.env
backups/

# OS / editor
.DS_Store
**/.DS_Store
**/.idea
**/.vscode
**/.venv

# Coverage
coverage/
